<div class="toots-container col-md-6 center-block">
  <% if user_signed_in?  %>
    <%= render partial: "toots/toot_form" %>
  <% end %>

  <div id="toots-container">
    <% toots.each do |toot| %>
      <%= render partial: "toots/toot", locals: { user: toot.user, toot: toot } %>
    <% end %>
  </div>
  
</div>