<%= render partial: "/toots/toot_top_info", locals: { toot: toot, user: toot.user }  %>
<%= render partial: "/toots/toot_body", locals: { toot: toot, user: toot.user }  %>

<div id="toot-reply-form">
  <%= form_for Toot.new, remote: true, 
          url: user_toot_toot_replies_path(toot.user, toot) do |f|  %>
    <div class="field no-margin">
      <%= f.text_area :message, 'data-autocomplete' => autocomplete_user_at_username_users_path,
              class: "ui-autocomplete-input", :autocomplete => 'off',
              'data-delimiter' => ' ', :multiple => "multiple",
              id: "toot-reply-text", 
              autofocus: true,
              maxlength: 140,
              :value => toot.user.at_username + " " %>
    </div>
  <% end %>
</div>