<div class="row">
  <div class="new-toot">
    <div class="field new-toot" id="new-toot-colapse">
      <div>Whats goin' on?</div>
    </div>
    <div id="toot-form">
    <%= form_for(Toot.new, remote: true, url: user_toots_path(current_user)) do |f| %>
      <div class="field no-margin">
        <%= f.text_area :message, 'data-autocomplete' => autocomplete_user_at_username_users_path,
              class: "ui-autocomplete-input", :autocomplete => 'off',
              'data-delimiter' => ' ', :multiple => "multiple", 
              'data-auto-focus' => true,
              maxlength: 140  %>
      </div>
      <div id="waitingCircleG">
        <div class="waiting-text">Submitting</div>
        <div id="circleG_1" class="waitingCircleG"></div>
        <div id="circleG_2" class="waitingCircleG"></div>
        <div id="circleG_3" class="waitingCircleG"></div>
      </div>
      <div>
        <%= f.submit "Toot", class: "btn btn-primary" %>
      </div>
      <div class='warning'></div>
    <% end %>
    </div>
  </div>
</div>