<div class="row">

  <% if !toot_is_reply?(toot) %>
    <div class="toot-container">

      <%= render partial: "/toots/toot_content", locals: { user: user, toot: toot } %>
    
    <% if toot_has_reply?(toot) %>
      <% toot.replies.reverse_each do |toot| %>
        <div class="toot-reply-container">

          <%= render partial: "/toots/toot_content", locals: { user: user, toot: toot } %>

        </div>
      <% end %>
    <% end %>

    </div>
  <% elsif defined?(render_replies_as_single) && render_replies_as_single == true %>
    <div class="toot-container">
      <div class="toot-reply-container">
        <%= render partial: "/toots/toot_content", locals: { user: user, toot: toot } %>

      </div>
    </div>
  <% end %>
</div>
