<div class="toots-container center-block">
  <%= render partial: "toot_form" %>

  <div id="toots-container">
    <% @toots.each do |toot| %>
      <%= render partial: "toot", locals: { user: toot.user, toot: toot } %>
    <% end %>
  </div>
  
</div>