<div id="side-profile">
  <h3>Profile</h3>
  <%= render partial: "users/user", locals: { user: user } %>
  <% if @user != current_user && @user %>
    <%= render partial: "/follows/dynamic_follow_button", locals: { user: @user} %>
  <% end %>
  <div id="toots-profile">Toots: <%= user.toots.size %> Retoots: <%= user.retoots.size %></div>
</div>