<div class="row">
  <div class="page-title col-md-9"> Mentions </div>
</div>
<div class="col-md-3">
    <%= render partial: "users/side_profile", locals: { user: @user } %> 
</div>
<%= render partial: "toots/display_toots", locals: { toots: @toots, 
                                    render_replies_as_single: true,
                                    show_replies: false } %>