@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin field-blue() {
    border: 1px solid rgba(0, 110, 147, 0.47);
    border-radius: 3px;
    padding-left: 3px;
    color: $dark-blue;
}
$dark-blue: #0084B4;
$light-blue: #4DA9CA;

input[type=submit]{
  appearance: none;
  box-shadow: none;
  border: 1px solid $light-blue;
  border-radius: 4px;
  background-color: $dark-blue;
  color: #FFF;
  padding: 5px 15px;
  font-weight: bold;
}

body{
  background-image: linear-gradient(#1c6399, #4982AD);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container{
  background-color: #FFF;
  border-radius: 5px;
  padding: 40px;
}
.header{
  background-color:  #FFF;
  display: inline-block;
  border-radius: 5px;
  padding: 4px;
}
.field{
  input, textarea{
    @include field-blue;
  }
  input{
    margin: 8px 0;
  }
}
#new-toot-colapse{
  @include field-blue;
  color: $dark-blue;
  background-color: #FFF;
  padding: 5px;
  cursor: text;
  display: none;
  margin: 0;
}
.new-toot{
  padding: 5px;
  textarea{
    width: 100%;
    resize: none;
  }
}

.ui-icon{
  display: inline-block;
  color: #0000AA;
}

.notice{
  background-color: #00802b;
}