@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin field-blue() {
    border: 1px solid rgba(0, 110, 147, 0.47);
    border-radius: 3px;
    padding-left: 3px;
    color: $dark-blue;
}
$dark-blue: #0084B4;

body{
  background-image: linear-gradient(#1c6399, #4982AD);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container{
  background-color: #FFF;
  border-radius: 5px;
  padding: 40px;
}
.field{
  padding: 8px 0;
  input, textarea{
    @include field-blue;
  }
}
#new-toot-colapse{
  @include field-blue;
  color: $dark-blue;
  background-color: #FFF;
  padding: 5px;
  cursor: text;
  display: none;
}
.new-toot{
  padding: 5px;
  textarea{
    width: 100%;
    resize: none;
  }
}