@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin field-blue() {
    border: 1px solid rgba(0, 110, 147, 0.47);
    border-radius: 3px;
    padding-left: 3px;
    color: $dark-blue;
}
@mixin rounded-corners() {
  border-radius: 5px;
}
$dark-blue: #0084B4;
$light-blue: #4DA9CA;
$dark-red: #b30000;
$light-red: #ff8566;

input[type=submit]{
  appearance: none;
  box-shadow: none;
  border: 1px solid $light-blue;
  border-radius: 4px;
  background-color: $dark-blue;
  color: #FFF;
  padding: 5px 15px;
  font-weight: bold;
}

input[type=submit].follow-button, input[type=submit].unfollow-button{
  padding: 2px 10px;
  display: inline-block;
  background-color: $light-blue;
}

input[type=submit].unfollow-button:hover{
  background-color: $dark-red;
  border-color: $light-red;
}

input[type=submit].follow-button:hover{
  background-color: $dark-blue;
  border-color: $light-blue;
}

body{
  background-image: linear-gradient(#1c6399, #4982AD);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.user-container{

}

.main-container{
  background-color: #FFF;
  @include rounded-corners;
  padding: 40px;
}
.toots-container, .users-container, .user-container{
  background-color: #E5F2F7;
  width: 500px;
  padding: 20px 15px;
  @include rounded-corners;
}

.user-container{
  background-color: #FFF;
  width: 400px;
  margin: 15px 10px;
  @include rounded-corners;
}

#main-container{
  padding-top: 50px;
}
.header{
  background-color:  #FFF;
  padding: 5px;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.field{
  input, textarea{
    @include field-blue;
  }
  input{
    margin: 8px 0;
  }
}
#new-toot-colapse{
  @include field-blue;
  color: $dark-blue;
  background-color: #FFF;
  padding: 5px;
  cursor: text;
  display: none;
  margin: 0;
}
.new-toot{
  padding: 5px;
  textarea{
    width: 100%;
    resize: none;
  }
}

.ui-icon{
  display: inline-block;
  color: #0000AA;
}

.notice{
  background-color: #00802b;
}
.alert{
  background-color: #ff3333;
}

#side-profile{
  background-color: #fff;
  @include rounded-corners;
  padding: 15px;
  h3{
    margin-top: 5px;
    margin-bottom: 10px;
  }
  td{
    padding-right: 15px;
  }
  margin-bottom: 10px;
}

.follow-block{
  display: inline-block;
  margin: 3px;
}