.toot-container{
  background-color: #FFFFFF;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.toot-reply-container{
  margin: 5px;
  padding-left: 5px;
  border-left: 2px solid #ccc;
}

.border-topbottom{
  background-color: #FFFFFF;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.name{
  font-weight: bold;
}
.username, .time-ago{
  color: #777;
}
#retweet{
  left: 0;
  width: 16px;
  height: 16px;
  background: url('/assets/ui-icons_228ef1_256x240.png') 0 0;
}
.retooted{
  color: #808000;
}